@page
@model AssignmentPRN221_TaskManagement.Pages.Account.AccessDeniedModel
@{
    Layout = null;
}

<a href="~/Index"><img style="display: block;
  margin: auto;" src="~/img/403.png" alt="403 img" />
</a>